# Assesment/Assesment_2/back_end/node_modules/
# Assesment/Assesment_2/front_end/node_modules/

# Assesment/AssesmentTypescript/back_end/node_modules/
# Assesment/Assesment_2/front_end/node_modules/

# Assesment/Node_Assesment/node_modules/
# Assesment/React_Assesment/first_assesment/node_modules/
# Node/node_practice/node_modules/

# React/form_auth/node_modules/
# React/react_practice/node_modules/
# React/react_typescript/node_modules/

# Sequelize/Basic_setup/node_modules/
# Sequelize/CRUD_typeScript/node_modules/
# Sequelize/type_script_setup/node_modules/

# TypeScript/node_modules/

# UI Design/assignment_2/node_modules/

**/node_modules